html {
    font-family: "Roboto Thin", sans-serif;
    margin-top: -8px;
    margin-left: -8px;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
input[type=button] {
    border: 3px solid forestgreen;
    background-color: darkgreen;
    color: white;
    text-outline: 1px black;
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
input[type=button]:hover {
    background-color: green;
    text-decoration: underline;
}
input[type=button]:active {
    background-color: forestgreen;
}
input[type=submit] {
    border: 3px solid forestgreen;
    background-color: darkgreen;
    color: white;
    text-outline: 1px black;
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
input[type=submit]:hover {
    background-color: green;
    text-decoration: underline;
}
input[type=submit]:active {
    background-color: forestgreen;
}
input[type=reset] {
    border: 3px solid forestgreen;
    background-color: darkgreen;
    color: white;
    text-outline: 1px black;
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
input[type=reset]:hover {
    background-color: green;
    text-decoration: underline;
}
input[type=reset]:active {
    background-color: forestgreen;
}
textarea{
    resize: none;
}
input[type=text], input[type=email], input[type=number], textarea {
    margin: 0.5em;
    border-style: outset;
    border-width: 3px;
    border-color: darkslategrey;
    border-radius: 10px;
    background: #293133;
    color: white;
}
input[type=text], input[type=email], input[type=number] {
    height: 30px;
}
.content{
    text-align: center;
}
.fixed {
    overflow: hidden;
    background-color: darkslategrey;
    color: white;
    position: fixed;
    top: 40%;
    right: 2%;
    width: 25%;
    max-width: 200px;
    float: right;
    text-align: center;
    border: 1px solid green;
    border-radius: 1em;
    max-height: 11em;
}

.report {
    position: fixed;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    width: 35%;
    top: 6em;
    right: 32.5%;
    border: 1px solid black;
}

.form{
width: 80%;
}

.info{
    margin-top: 1em;
    margin-bottom: 10em;
    text-align: justify;
    width: 40%;
    margin-left: 30%;
    text-indent: revert;
}
nav {
    background-color: black;
    text-align: center;
    width: 100%;
    padding-right: 8px;

    /* Pay special attention here! */
    position: sticky;
    top: 0px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0px 5%;
}

nav a:link{
    color: white;
}

nav a:visited{
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

@media
(prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
footer{
    background: darkslategrey;
    margin-top: -5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 7em;
    max-height: 6em;
    font-size: 0.8em;
}
footer a{
    padding-right: 1em;
}
.footer-logo {
    margin-left: 2em;
    padding-top: 1.5em;
    color: white;
    object-position: bottom;
    position: fixed;
}
.footer-middle-column {
    text-align: center;
    width: 45%;
    margin: -0.5em 25% -6.5em;
}
.footer-right-column {
    float: right;
    width: 20%;
    margin-bottom: 10em;
    margin-top: -0.5em;
    margin-right: 1em;
    min-width: 120px;
}
.footer-background {
    background: #828b8f;
}
.footer-text {
    text-align: center;
    color: white;
}

.container {
    width: 200px;
    height: 120px;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}

.container2 {
    width: 500px;
    height: 350px;
}

/* Resize images */
.container2 img {
    width: 100%;
    height: auto;
}