.fixed {
    border: 1px solid black;
    overflow: hidden;
    background-color: blue;
    top: 40%;
    right: 0;
    width: 20%;
    position: fixed;
    text-align: center;
}
.contact-form {
    float: right;
    border: 1px solid black;
}
