<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Madspild | Error</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav>
    <a href="/"><input type="button" value="Forside"></a>
    <a href="/about"><input type="button" value="Om os"></a>
    <a href="/report"><input type="button" value="Rapportér madspild"></a>
</nav>
<div class="content">
    <h2>Error broken link</h2>
    <p>You may have entered a broken link.</p>
    <p>Click <a href="/">here</a> to return to the frontpage.</p>
</div>

</body>
</html>