<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Madspild | Tilmeld</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav>
    <a href="/"><input type="button" value="Forside"></a>
    <a href="/about"><input type="button" value="Om os"></a>
    <a href="/report"><input type="button" value="Rapportér madspild"></a>
</nav>

<div class="info">
    <h2>Få e-mails om madspild i dit postnummer.</h2>
<p> Hvis nogen har for meget, får du besked.</p>
    <form th:action="@{/register}" method="post" th:object="${signup}">
        <input class="form" type="number" name="zipcode" minlength="3" maxlength="4" placeholder="Indtast postnummer.." th:field="*{zipCode}" required /><br>
        <input class="form" type="email" name="email" placeholder="Indtast email.." th:field="*{email}" required /><br>
        <input class="formBtn" type="submit" value="Tilmeld"/>
        <input class="formBtn" type="reset" value="Slet"/>
    </form>
    <span th:if="${param.success}">
        Du er registreret.
    </span>
        <br><br>
        </div>
</body>
<footer>
    <span class="footer-background">
    </span>
    <span class="footer-logo"><img src="/images/logo.jpg" height="50" width="50" alt="logo"></span>
    <span class="footer-right-column">
        <p class="footer-text" >Guldbergsgade 29N</p>
        <p class="footer-text" >2200 København N</p>
        <p class="footer-text" >CVR-nr.: 694201337</p>
    </span>
    <div class="footer-middle-column">
        <p class="footer-text">Organisation mod madspild og fødevaretab i alle former</p>
        <a class="footer-text footer-link" href="https://www.facebook.com">Facebook</a>
        <a class="footer-text footer-link" href="https://www.twitter.com">Twitter</a>
        <a class="footer-text footer-link" href="https://www.linkedin.com">LinkedIn</a>
    </div>


</footer>
</html>