<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om Os</title>
</head>
<body>
<h1>Om os</h1>
<div id="navbar">
    <a href="Home/index">Hjem</a>
    <a href="About/index">Om Os</a>
    <a href="Report/index">Rapportér madspild</a>
</div>
</body>
<footer>
    <div class="bunden/footeren-af-siden">
        <div class="logo-placeholder"></div>
    </div>
    <div class="første-del">
        <p>Organisation mod madspild og fødevaretab i alle former</p>
        <a class="Facebook-link" href="https://www.facebook.com">Facebook</a>
        <a class="Twitter-link" href="https://www.twitter.com">Twitter</a>
        <a class="LinkedIn-link" href="https://www.linkedin.com">LinkedIn</a>
    </div>
    <div class="anden-del">
        <p>Guldbergsgade 29N</p>
        <p>2200 København N</p>
        <p>CVR-nr.: 694201337</p>
    </div>
    <div class="tredje-del">
        <a class="Om-Os-link" href="About/index">Om Os</a>
        <a class="Rapporter-link" href="Report/index">Rapportér madmisbrug</a>
    </div>
</footer>
</html>