<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>



<body>
<div style="float: left; alignment: left">
    <p>tilfældig tekst</p>
</div>
<div class="contact-form">
    <span class="fixed">
    <p>Tilmeld dig nyhedsbrev</p>
    <form method="post" action="register">
        <input name="Zip code" placeholder="Zip code" type="number" required /><br>
        <input name="Email" placeholder="Email" type="email" required /><br>
        <input class="formBtn" type="submit" />
        <input class="formBtn" type="reset" />
    </form>
        <br>
        </span>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur assumenda beatae consequatur distinctio earum impedit, magni maiores, nisi numquam, quas quod repudiandae! Accusamus illum labore nam quod tempora</p>
</body>
</html>